#gameTeamLogos{
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;
    
}

#gameTeamLogos img {
    vertical-align: middle;
    height: 2em;
    display: inline-block;
}