/* .game{
    display: block;
    width: 25%;
    border-radius: 5px;
    background-color: lightblue;
} */

#gameTeamLogos{
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;
    
}

#gameTeamLogos img {
    vertical-align: middle;
    height: 2em;
    display: inline-block;
}