.home{
    background-image: url('https://gobearcats.com/images/2023/5/24/Recap_Photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    max-height: 100%;
    position: fixed;
}