
.player {
    text-align: left;
}

p {
    display: inline;
    margin: .5vw;
}

#name {
    display: inline;
    margin-left: 2vw;
    font-size: 36px;
    font-weight: bold;
}

input[type='radio'] {
    width: 0px;
    height: 0px;
    margin: 0px;
    visibility: hidden;
    
}

label {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label:hover{
    background-color: gray;
}

input[type='radio']:checked ~ label{
    background-color: gray;
}

#headshot {
    border: 10px solid white;
    position: absolute;
}

.stats div{
    display: inline;
}

#hero{
    width: 100%;
}