:root{
    --player-photo: url('');
}

.player {
    text-align: left;
}

/* .player p {
    display: inline;
    margin: .5vw;
} */

#name {
    display: inline;
    margin-left: 2vw;
    font-size: 36px;
    font-weight: bold;
}


#headshot {
    border: 10px solid white;
    position: absolute;
}

#hero {
    width: 100%;
}