.search-container{
    container-type: inline-size;
    container-name: search;
}

.search{
    width: 100%;
}

nav{
    z-index: 1;
}

@container (max-width: 200px){
    .search{
        width: 400px;
    }
}