/* .americanLeague{
    width:45%;
    display: inline-block;
    background-color: lightgray;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid black;
}

.nationalLeague{
    width:45%;
    display: inline-block;
    background-color: lightgray;
    margin-top: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid black;
}

.teamLink{
    font-weight: bold;
    color: black;
    display: block;
    margin: 25px;
    text-decoration: none;
} */